:root {
  --purple: #9c9cee;
  --dark-grey: #404547;
  --black: black;
  --background: #d9dcd6;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color:var(--background);
}

/* Header CSS */
header{
  display:flex;
  justify-content: space-between;
  align-content: center;
  background-color:var(--dark-grey);
  color: #ffffff;
}

.header-flex {
  padding: 20px;
  display: flex;
  flex-direction: row;
  width:50%;
}

.header-title{
  padding: 20px;
  text-align: center;
  align-items: center;
  margin:auto 0;
}

header  h1 {
  font-size: 50px;
}

header  h2 {
  font-size: 25px;
  font-weight: lighter;
  padding: 5px;
}

.logo {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

/* Nav CSS */
.headerNav{
  padding: 10px;
  display: flex;
  align-items: center;
  margin: auto 0;
}

.headerNav ul{
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    float: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 100%;
    list-style-type: none;
    align-items: center;
}

.headerNav li {
    display: inline-block;
    margin-left: 25px;
}

.headerNav li a {
    color: #ffffff;;
    text-decoration: none;
}

.headerNav li a:hover {
    color: var(--purple);
}

/* General Section CSS */
section {
  display: flex;
  flex-direction: row;
  margin: 10%;
}

section .sectionHeadings {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  width: 20vw;
  align-items: center;
}

section h2{
  margin: 0 auto;
  font-size: 40px;
  text-align: right;
}

section article {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: left;
  border-left: 5px solid grey;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* About Section CSS */
.headshot{
  width: 450px;
  height: 320px;
  border-radius: 10%;
}

.aboutP{
  margin-left: 15px;
}

section p {
  display:flex;
  margin: auto 0;
}

/* Projects CSS */
.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects a{
  display: flex;
  position: relative;
  text-align: center;
  margin: 15px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  width:100%;
}

.projects figure{
  border: 5px solid grey;
}

.projects figure:hover img{
  filter: contrast(50%);
 }

.project-one img{
  width:100%;
}

.project-rows{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.project-rows img{
  width:100%;
  height: auto;
}

.project-titles{
  background-color: var(--dark-grey);
  padding: 8px;
}

.project-titles h3, h4{
  padding: 2px 0;
}

/* Contact Section CSS */
.contactNav{
  align-items: center;
  margin: auto 0;
  width:100%
}

.contactNav ul {
  display: flex;
  flex-direction: row;
  margin: auto 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
}

.contactNav li a{
  color: black;
  text-decoration: none;
}

.contactNav li a:hover {
  color: var(--purple);
  font-size: 23px;
}

/* Footer CSS */
footer {
    padding: 5px;
    text-align: center;
    background-color: var(--dark-grey);
    color: #ffffff;
  }

footer h5{
  padding-bottom: 2px;
}

footer p{
  padding-top: 2px;
}

/* media query for larger screens */
 @media screen and (max-width: 992px) {
  .header-title h2{
    font-size: 20px;
  } 
}

/* Media Query for tablet sized screens */
@media screen and (max-width: 812px) {
  header{
    flex-direction: column;
  }
    
  .header-title h1{
    font-size: 40px;
  }
  
  .header-title h2{
    font-size: 15px;
  } 

  .headerNav ul li a{
    font-size: 17px;
    margin-left: auto;
  }

  .header-flex{
    margin-left: 0
  }

  .headshot{
    height: 230px;
    width: 290px;
    margin-bottom: 7px;
  }

  section h2{
    font-size: 30px;
  }

  .project-rows{
    flex-wrap:wrap;
  }

  #aboutSection{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* Media Query to stylize for mobile phones. */
@media screen and (max-width: 480px) {
  * {
    align-items: center;
    margin:auto;
  }

  header{
    flex-direction: column;
    align-items: center;
  }
    
  .header-title h1{
    font-size: 40px;
  }

  .logo{
    height: 100px;
    width: 100px;
  }

  .header-flex{
    margin-left: 0
  }

  .header-title h2{
    padding: 5px;
  }

  .headerNav ul li a{
    font-size: 12px;
  }

  .headshot{
    height: 200px;
    width: 250px;
    margin-bottom: 7px;
  }

  section article {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-top: 5px solid grey;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
     border-left: 0px;
  }
  
  section {
    display: flex;
    flex-direction: column;
  }

  section .sectionHeadings{
    text-align: center;
    margin: 7px;
    width:100%;
  }
    
  .contactNav ul {
    display: block;
    text-align: center;
  }

  .contactNav ul li{
    padding: 5px;
  }

  footer{
    font-size: 10px;
  }
}